* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
}
#sidebar-content {
    background-color: rgb(247, 109, 109);
    width: 250px;
    padding: 24px;
    border-right: 2px solid rgb(35, 0, 0);
}


#sidebar-content h2 {
    border-bottom: 2px solid rgb(86, 0, 0);
    padding-bottom: 8px;
    color: beige;
    font-family: 'Courier New', Courier, monospace;
}

#sidebar-content ul {
    font-size: 20px;
    list-style-type: none;
    padding: 0px;
}

#sidebar-content ul a {
    color: beige;
    text-decoration: none;
}

#sidebar-content ul li {
    padding: 4px 0px;
}

#main-content {
    background-color: beige;
    flex: 1;
    padding: 48px;
}
#main-content h2 {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid rgba(108, 0, 0, 0.697);
}
#main-content h4{
    color: brown;
    font-family: 'Courier New', Courier, monospace;
}
#lego-company,
#lego-name,
#amusement,
#merlin {
    margin-left: 10px 
} 
#sidebar-content ul ul {
    margin-left: 10px;
    font-size: 13px;
}
#column-2 {
    display: flex;
}
#column-2 img {
    margin: 24px;
    padding: 20px;
    background-color: rgb(247, 109, 109);
}