
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #590210;
    font-family: "Source Sans 3", sans-serif;
}


#layout {
    align-items: center;
    margin: 0px auto;
}

/****************************************************************************
 Hero 1 
*****************************************************************************/

#hero-1 {
    background: 
        linear-gradient(#4f0915d4,#9f1d3393),
        url("../images/hero-1.jpeg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-1 .hero-content {
    text-align: center;
    color: rgb(226, 171, 36);
    padding-top: 10vh;
}


#hero-1 h2 {
    font-size: 6vw;
    margin-bottom: 3vh;
    color: antiquewhite;
}

#hero-1 h4 {
    font-size: 3vw;
}

#hero-1 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #eb4c6a;
    color: #590210;
    border-radius: 36px;
    text-decoration: none;
    padding: 24px;
}

#hero-1 a:hover {
    background-color: #f3aeb9;
    box-shadow: none;
    transform: scale(.99);
    transition: transform .5s;
}

/******************************************************************************
cards 
******************************************************************************/


.card-container {
    width: 90vw;
    margin: 48px auto;
    display: flex; 
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.cards {
    color: #eb4c6a;
    padding: 100px 15px 40px 15px;
    position: relative;
    width: 350px;
    border: 3px solid rgb(226, 171, 36);
    border-radius: 5px;
    box-shadow: 4px -4px 12px rgba(0, 0, 0, 0.245);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cards img {
    position: absolute;
    top: -100px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#card-2 {
    padding-top: 40px;
}

.cards h3,
#card-2 h4 {
    text-align: center;
    color: #f3aeb9;
}

.cards a {
    text-decoration: none;
    background-color: #eb4c6a;
    color: #590210;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.369);
}

.cards a:hover {
    background-color: #f3aeb9;
    box-shadow: none;
    transform: scale(.99);
    transition: transform .5s;
}

/****************************************************************************
 hero 2
*****************************************************************************/

#hero-2 {
    background: 
        linear-gradient(#e2ab24,#9f1d3393),
        url("../images/hero-2.jpeg");
    background-size: cover;
    background-position: center top;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.image-container,
.content-container {
    flex: 1;
}

.image-container {
    height: 400px;
}

.content-container h1 {
    font-size: 48px;
    color: #ffb700;
}

.featured {
    background-color: #590210;
    color: rgb(226, 171, 36);
    padding: 24px;
    margin: 50px;
}

.featured h2 {
    font-size: 36px;
    text-align: center;
}

.grid img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 24px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    grid-template-areas:
        "txt1 img1 img2 img2"
        "img3 img3 img4 txt2";
}

#p1 {
    grid-area: txt1;
}
#p2 {
    grid-area: txt2;
}
#img1 {
    grid-area: img1;
}
#img2 {
    grid-area: img2;
}
#img3 {
    grid-area: img3;
}
#img4 {
    grid-area: img4;
}

.grid p {
    border: 2px solid #ffb700;
    border-radius: 24px;
    margin: 0px;
    padding: 20px;
}

/****************************************************************************
 Menu
*****************************************************************************/

#layout-2 {
    align-items: center;
    margin: 0px auto;
}

.item {
    color: rgb(226, 171, 36);
    padding: 100px 15px 40px 15px;
    position: relative;
    width: 350px;
    border: 3px solid rgb(226, 171, 36);
    border-radius: 5px;
    box-shadow: 4px -4px 12px rgba(0, 0, 0, 0.245);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.item h3 {
    margin-top: 0px;
    padding: 10px;
    margin-bottom: 50px;
}

.item img {
    position: absolute;
    top: -100px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#menu-3 img {
    width: 300px;
    height: 300px;
    top: -150px;
}

#menu-7 img {
    width: 190px;
    height: 190px;
}

#menu-8 img,
#menu-11 img {
    width: 250px;
    height: 250px;
    top: -120px;
}

.item a {
    position: absolute;
    padding: 5px 6px 0px 4px;
    bottom: 16px;
    right: 32px;
    font-size: 30px;
    color: #e2ab24;
}

.item a:hover {
    background-color: #e2ab24;
    color: #590210;
    padding: 5px 6px 0px 4px;
    border-radius: 5px;
}

.item h4 {
    position: absolute;
    font-size: 20px;
    bottom: -4px;
    left: 32px;
}

.item h3 {
    text-align: center;
}

/***************************************************************************
    nav 
****************************************************************************/

#navbar {
    background-color: #f3aeb9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 20;
}

#navbar a {
    text-decoration: none;
    text-align: center;
    color: #590210;
    font-size: 24px;
    margin-right: 50px;

}

#navbar #logo img {
    width: 150px;
    padding: 10px;
}

#navbar .cta-buttom {
    text-decoration: none;
    background-color: #eb4c6a;
    color: #590210;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.369);
    margin-right: 20px;
}

#navbar .cta-buttom:hover {
    background-color: #f17a8e;
    box-shadow: none;
    transform: scale(.99);
    transition: transform .5s;
}

/****************************************************************************
 footer 
*****************************************************************************/

#footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "footer-1 footer-2 footer-3 footer-4 footer-5";
    color: #f17a8e;
    background-color: #3d000a;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}

#footer-1 img {
    width: 300px;
    height: 110px;
}

#footer-2 img,
#footer-4 img {
    margin: 30px;
    width: 200px;
    height: 400px;
}

#footer-1 {
    text-align: center;
    grid-area: footer-1;
}

#footer-2 {
    grid-area: footer-2;
}

#footer-3 {
    grid-area: footer-3;
}

#footer-4 {
    grid-area: footer-4;
}

#footer-5 {
    grid-area: footer-5;
    position: absolute;
    top: 80px;
}

#footer-container h2 {
    color: #f3aeb9;
}

/****************************************************************************
 featured item 
*****************************************************************************/

#header {
    margin-top: 60px;
}

#featured-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #eb4c6a;
    margin: 0px 160px;
    padding: 20px;
  
}

#featured-item img {
    display: inline-block;
    flex-direction: column;
    border-radius: 50%;
    width: 500px;
    object-fit: cover;
    padding: 40px;
    
}

#featured-item p {
    display: inline-block;
    padding: 0px 20px 20px 20px;
    color: #eb4c6a;
    font-size: 20px;
    font-weight: bold;
}

#featured-item h2 {
    color: #ffb700;
    padding: 20px;
    font-size: 28px;
}

#layout-2 h1 {
    text-align: center;
    color: #e2ab24;
    font-size: 28px;
}

/******************************************************************************
media queries 
******************************************************************************/

@media screen and (max-width: 1000px) and (min-width: 779px) {
    #featured-item {
        flex-direction: column;
        text-align: center;
    }

    #hero-1 {
        height: 50vh;
    }

    #hero-2 {
        height: 60vh;
    }

    #hero-1 h2 {
        font-size: 30px;
    }
    
    #hero-1 h4 {
        font-size: 20px;
    }

    #hero-1 a {
        font-size: 15px;
    }

    #hero-1 a {
        font-size: 12px;
        padding: 15px;
    }

   
}

@media screen and (max-width: 810px) and (min-width: 470px) {

    #hero-1 {
        height: 50vh;
    }

    #footer-1 img {
        width: 150px;
        height: 55px;
    }

    #footer-1 {
        font-size: 10px;
    }

    #footer-2 img,
    #footer-4 img {
        margin: 20px;
        width: 100px;
        height: 200px;
    }

    #footer-3,
    #footer-5 {
        font-size: 10px;
    }

    #footer-5 {
        position: absolute;
        top: 30px;
    }

    #navbar .cta-buttom {
        font-size: 12px;
        border-radius: 20px;
        padding: 10px 15px;
    }

    .cards {
        margin-bottom: 100px;
    }

    #hero-2 {
        height: 37vh;
    }

    .grid img {
        height: 200px;
    }

    #featured-item img {
        width: 450px;
    }

    #featured-item2 {
        font-size: 15px;
    }

    #featured-item {
        flex-direction: column;
        text-align: center;
    }

    #footer-container {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr 1fr;
        grid-template-areas: 
            "footer-1 footer-1 footer-1 footer-1"
            "footer-2 footer-3 footer-4 footer-5"; 
       text-align: center;
    
    }

    #hero-1 h2 {
        font-size: 30px;
    }
    
    #hero-1 h4 {
        font-size: 20px;
    }

    #hero-1 a {
        font-size: 15px;
    }

    #hero-1 a {
        font-size: 12px;
        padding: 15px;
    }

    #navbar {
        flex-direction: column;
    }

    #navbar .cta-buttom {
        width: 100%;
        border-radius: 0px;
        margin: 0px;
    }

    #navbar a {
        margin: 0px 19px;
        justify-content: space-between;
        font-size: 14px;
    }

    #links {
        margin: 0px 20px 20px 20px;
    }
}