* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: rgb(226, 171, 36);
    font-family: 'Courier New', Courier, monospace;
}


/* hero image */

#hero-1 {
    background: 
        linear-gradient(#4f0915d4,#9f1d3393),
        url("../images/hero-1.jpeg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#hero-1 .hero-content {
    text-align: center;
    color: rgb(226, 171, 36);
    padding-top: 20vh;
}


#hero-1 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
}

#hero-1 h4 {
    font-size: 3vw;
}

#hero-1 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: white;
    color: #333333;
    text-decoration: none;
    padding: 24px;
}

/* cards */


.card-container {
    width: 90vw;
    margin: 48px auto;
    display: flex; 
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
    margin-top: 200px;
}

.cards {
    color: rgb(252, 221, 143);
    padding: 100px 15px 40px 15px;
    position: relative;
    width: 350px;
    background:  #590210;
    border: 3px solid rgb(252, 221, 143);
    border-radius: 5px;
    box-shadow: 4px -4px 12px rgba(0, 0, 0, 0.245);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cards img {
    position: absolute;
    top: -100px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#card-2 {
    padding-top: 40px;
}

.cards h3,
#card-2 h4 {
    text-align: center;
    color: #eb4c6a;
}

.cards a {
    text-decoration: none;
    background-color: #eb4c6a;
    color: #590210;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.369);
}

.cards a:hover {
    color: rgb(252, 221, 143);
    box-shadow: none;
    transform: scale(.99);
    transition: transform .5s;
}

/*hero 2*/

#hero-2 {
    background: 
        linear-gradient(#e2ab24,#9f1d3393),
        url("../images/hero-2.jpeg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
