#palette1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#palette1-color1 {
    background-color: #264653;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 24px;
}
#palette1-color2 {
    background-color: #2A9D8F;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 24px;
}
#palette1-color3 {
    background-color: #E9C46A;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 24px;
}
#palette1-color4 {
    background-color: #F4A261;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 24px;
}
#palette1-color5 {
    background-color: #E76F51;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 24px;
}
#palette2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
#palette2-color1 {
    background-color: #22577A;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 24px;
}
#palette2-color2 {
    background-color: #38A3A5;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 24px;
}
#palette2-color3 {
    background-color: #57CC99;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 24px;
}
#palette2-color4 {
    background-color: #80ED99;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 24px;
}
#palette2-color5 {
    background-color: #C7F9CC;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 24px;
}
#palette3 {
    font-family: cursive;
    text-align: center;
}
#palette3-color1 {
    background-color: #B0F2B4;
    color: rgb(0, 0, 0);
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
#palette3-color2 {
    background-color:#BAF2E9;
    color: rgb(0, 0, 0);
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
#palette3-color3 {
    background-color: #BAD7F2;
    color: rgb(0, 0, 0);
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
#palette3-color4 {
    background-color: #F2BAC9;
    color: rgb(0, 0, 0);
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
#palette3-color5 {
    background-color: #F2E2BA;
    color: rgb(0, 0, 0);
    font-family: cursive;
    text-align: center;
    padding: 24px;
}

