* {
    box-sizing: border-box;
}

Body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(68, 51, 85);
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main";
}

#header {
    padding: 0px 36px;
    grid-area: header;
}

#header a {
    text-decoration: none;
}

#header #me {
    color: #a2fdbc;
    margin-right: 5px;
}

#header #tube {
    color: rgb(93, 75, 138);
    background-color: rgb(110, 226, 110);
    padding: 4px;
    border-radius: 12px;
    box-shadow: 6px 6px #111111;
}

#sidebar {
    background-color: rgb(111, 217, 111);
    grid-area: sidebar;
    padding: 0px 24px;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: 8px 4px black;
}

#sidebar ul {
    padding: 12px 0px;
    margin: 12px;
    list-style-type: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#sidebar ul a {
    text-decoration: none;
    color: #111111;
    display: block;
    padding: 12px;
}

#sidebar ul a:hover {
    background-color: rgb(191, 132, 231);
    border-radius: 4px 12px 12px 12px;
}

#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}

.metube-item .thumbnail-placeholder img{
    width: 500px;
    height: 500px;
    aspect-ratio: 16 / 9;
    border-radius: 10px 70px 70px 70px;
    padding: 20px;
    background-color: rgb(198, 166, 228);
    box-shadow: 4px 4px #111111;
}

.metube-item h4 {
    text-align: center;
    margin: 8px;
}

.metube-item h4 a {
    text-decoration: none;
    color: #a2fdbc;
    display: block;
}

.metube-item h4 a:hover {
    text-decoration: underline;
}

.metube-item .video-details {
    color: rgb(198, 166, 228);
    text-align: center;
    margin: 8px;
    font-size: 14px;
}

.metube-item .video-channel {
    margin-bottom: 4px;
}